@import '../../vars';

.formControl {
  padding-bottom: 20px;
}

.formControl.error input,
.formControl.error textarea {
  border: solid #721c24 2px;
}

.formControl.error span {
  color: #721c24;
}

.formSummaryError {
  border: #721c24 1px solid;
  padding: 5px;
  color: #721c24;
}